.editable-row .ant-form-item-explain {
    position: absolute;
    top: 100%;
    font-size: 12px;
}

.position-add-form > .ant-col > .ant-form-item > .ant-form-item-row {
    .ant-form-item-label {
        padding: 0;
    }
}
