.userItem {
  &__extraCard {
    border-radius: 6px !important;
    height: 100%;
    & .ant-card-head {
      color: #fff;
      background: #2F80ED;
    }
    &-divider.ant-divider {
      margin: 8px 0;
    }
  }
  &__extraCard li.ant-menu-item, &__extraCard .ant-menu-submenu-title {
    height: 30px !important;
    padding-left: 6px !important;
    padding-right: 40px !important;
  }
  &__extraCard .ant-menu-title-content {
    margin-left: 6px !important;
  }
}

.icon {
  position: absolute;
  right: 6px
}

.row-container {
  padding: 20px;
  margin-right: 0;
  margin-left: 0;
}

.row-wrapper {
  margin-right: 0;
  margin-left: 0;
  width: 100%
}

.col-end-wrapper {
  display: flex;
  flex: 1 1 auto;
  justify-content: end
}

.ok-btn {
  margin-top: 16px;
  display: flex;
  justify-content: center
}

.add-text {
  cursor: pointer;
  font-size: 10px;
  color: #2f80ed;
}

.date-picker {
  width: 100%
}