.userItem {
  &__mainCard {
    border-radius: 6px !important;
    height: 100%;
    &-btn {
      color: #2F80ED;
      border-radius: 4px
    }
    & .ant-card-head {
      color: #fff;
      background: #2F80ED;
    }
    &-divider.ant-divider {
        margin: 10px 0;
    }
  }
}

.fio-wrapper {
  word-break: normal;
}

.image-wrapper {
  & > .anticon svg {
    color: #C2C2C2;
    height: 100px;
    width: 100px;
  }
}

.user-image {
  border-radius: 50%;
}

.container {
  padding: 20px;
  margin-right: 0 !important;
  margin-left: 0 !important;

  &-backText {
    cursor: pointer;
  }
}

.row-wrapper {
  margin-right: 0 !important;
  margin-left: 0 !important;
  width: 100%
}

.col-end-wrapper {
  display: flex;
  flex: 1 1 auto;
  justify-content: end
}

.delete-btn {
  color: #EB5757;
  background: #fff
}

.mobile-number-wrapper {
  margin: 8px 0
}