body {
    margin: 0;
    font-family: "Inter";
    letter-spacing: 0.01rem;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: "Inter";
    font-size: 16px;
}

*:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    font-size: 16px;
}

#root {
    overflow-x: auto;
}

#tree-list-demo {
    min-height: 700px;
}

#employees {
    max-height: 700px;
}
