$grey500: #6b7280;
$grey200: #e4e7ec;

.tabulator {
    background-color: transparent !important;
    border: none !important;
}

.tabulator-col-title {
    font-size: 20px !important;
}

.tabulator .tabulator-header,
.tabulator .tabulator-header .tabulator-col {
    // height: 68px !important;
    background: #E0E0E0 !important;
}

// .tabulator .tabulator-header .tabulator-col:first-child > div {
//     padding-left: 0 !important;
// }

.tabulator .tabulator-header .tabulator-col:last-child > div {
    padding-right: 0 !important;
}

.tabulator .tabulator-header,
.tabulator .tabulator-header .tabulator-col {
    background-color: #E0E0E0 !important;
    min-height: 50px !important;
    border: none !important;
}

.tabulator-col-title-holder {
    // margin-top: -5px !important;
    // margin-bottom: 4px !important;
    width: fit-content !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    font-size: 20px !important;
    font-weight: 400 !important;
    color: black !important;
}

.tabulator-header-filter input {
    height: 24px !important;
    padding-left: 12px !important;
    border: none !important;
    background-color: transparent !important;
}

.tabulator-header-filter input:focus-visible {
    outline: none !important;
}

.tabulator-header-filter {
    margin-top: 5px !important;
    margin: 0;
    padding: 0;
}

.tabulator-tableHolder {
    border: 1px solid $grey200 !important;
    .tabulator-table {
        width: 100% !important;
    }
}

//.tabulator-tableHolder span {
//    color: #fff !important;
//}

.tabulator-row {
    min-height: 70px !important;
    height: 70px !important;
    display: flex !important;
    align-items: center !important;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    max-height: 100px !important;
    border: none !important;
    /* border-bottom: 2px solid #fff !important; */
    color: #fff !important;
    cursor: pointer;
}

.tabulator-row.tabulator-selected {
    background-color: #e0e0e0 !important;
    /* color: rgb(255, 0, 0) !important; */
    /* cursor: not-allowed; */
}

.tabulator-row:hover {
    background-color: #f0f9fc !important;
}

.tabulator-row .tabulator-row-resize-handle {
    height: 0 !important;
    display: none !important;
}

.tabulator-row .tabulator-row-resize-handle.prev {
    height: 0 !important;
    display: none !important;
}

.tabulator-row.tabulator-selectable.tabulator-row-even:hover {
     background: #fafafa !important;
 }

.tabulator-row.tabulator-selectable.tabulator-row-odd:hover {
     background: #fafafa !important;
 }

.tabulator-cell {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #333333;
}

.tabulator-footer {
    background-color: transparent !important;
    border: 1px solid $grey200 !important;
    border-radius: 0 0 5px 5px !important;
}

.tabulator-paginator label {
    color: #fff;
    font-size: 16px;
    padding-right: 5px;
}

.tabulator-paginator select,
.tabulator-paginator button {
    height: 30px !important;
    background-color: #bdcbdb !important;
    /* box-shadow: 1px 2px 5px rgba(255, 255, 255, 0.25) !important; */
    color: #fff !important;
    opacity: 1 !important;
    cursor: pointer;
}

.tabulator-paginator button {
    width: 35px !important;
}

.tabulator .tabulator-tableHolder .tabulator-placeholder span {
    font-size: 17px !important;
    color: #333 !important;
}

.tabulator-page.active {
    background-color: #0669d3 !important;
    border: 1.5px solid #0669d3 !important;
}

.tabulator
    .tabulator-header
    .tabulator-col.tabulator-sortable[aria-sort="none"]
    .tabulator-col-content
    .tabulator-col-sorter {
    width: 20px;
    height: 20px;
    // background-color: #0669d3 !important;
    .tabulator-arrow {
        // width: 20px;
        // height: 20px;
        // color: #0ea5e9 !important;
        // background: url('../images/header/monitor.svg') no-repeat;
        // background-size: cover;
        // background-position: center center;
        // display: none !important;
        left: 2px !important;
    }
}

.tabulator-dropdown {
    position: relative;
    display: inline-block;
    padding: 5px;
}

.tabulator-dropdown-item {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    color: #1f2937;
    padding: 15px 20px;
    &:hover {
        background-color: rgba(0, 0, 0, 0.179);
    }
}

.tabulator-dropdown-content {
    display: none;
    position: absolute;
    right: 20px;
    top: 0;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 5px 0;
    z-index: 9999999999999;
    min-width: 200px;
}

.tabulator-dropdown:hover .tabulator-dropdown-content {
    display: block;
}

.menuIconItem {
    background-color: #0ea5e9;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    margin: 2px 5px;
}

.menuIconWrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.tabulator-row .tabulator-cell[tabulator-field="id"] {
    overflow: visible !important;
}

.tabulator-row {
    width: 100% !important;
}

// .tabulator-row.tabulator-moving {
//     // width: 100% !important;
//     display: none !important;
// }

.tabulator-selected {
    width: 100% !important;
    display: none !important;
}

.editBtn {
    margin-right: 10px;
}

#usersTable {
    .tabulator {
        .tabulator-header {
            background-color: #fff !important;
        }
    }
    .userGroupHeaderWrap {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #000000;
        margin-left: 20px;
    }
}
